table, th, td {
  border: 1px solid black;


}
table {
  width: 80%;
  margin-top: 50px;
}
.im{
  width: 100px;
  height: 100px;
}
table{
  float: right;
}
h2{
    float: right;
    margin-top: 50px;
}
